#fondo {
    background: skyblue;
    width: 1750px;
    height: 742px;
}
#suelo {
    background: green;
    width: 1750px;
    height: 144px;
    position: relative;
    top: 576px;
}
#primerpiso {
    background: green;
    width: 55px;
    height: 20px;
    position: relative;
    left: 1660px;
    top: 302px;
}
#segundopiso {
    background: green;
    width: 55px;
    height: 20px;
    position: relative;
    left: 1590px;
    top: 152px;
}
#tercerpiso {
    background: green;
    width: 55px;
    height: 20px;
    position: relative;
    left: 1660px;
    top: 2px;
}
#cuartopiso {
    background: green;
    width: 55px;
    height: 20px;
    position: relative;
    left: 1590px;
    bottom: 148px;
}
#quintopiso {
    background: green;
    width: 75px;
    height: 20px;
    position: relative;
    bottom: 298px;
    left: 1675px;
}
#sextopiso {
    background: green;
    width: 30px;
    height: 20px;
    position: relative;
    bottom: -202px;
    left: 25px;
}
#septimopiso {
    background: green;
    width: 30px;
    height: 20px;
    position: relative;
    top: 52px;
    left: 25px;
}
#octavopiso {
    background: green;
    width: 30px;
    height: 20px;
    position: relative;
    bottom: 228px;
    left: 25px;
}
#novenopiso {
    background: green;
    width: 370px;
    height: 20px;
    position: relative;
    bottom: 378px;
    left: 25px;
}
#decimopiso {
    background: green;
    width: 30px;
    height: 20px;
    position: relative;
    top: -552px;
    left: 25px;
}
#onceavopiso {
    background: green;
    width: 300px;
    height: 20px;
    position: relative;
    bottom: 696px;
    left: 370px;
}
#doceavopiso {
    background: green;
    width: 300px;
    height: 20px;
    position: relative;
    bottom: 586px;
    left: 590px;
}
#player {
    background: black;
    width: 25px;
    height: 70px;
    position: relative;
    top: -74px;
    left: 1675px;
    transition: all 0.3s;
}
#vida {
    position: absolute;
    bottom: 45px;
    width: 200px;
    left: -45px;
    font-size: x-large;
}
#arma {
    top: 0px;
    background: darkblue;
    border: 2px solid white;
    width: 45px;
    height: 8px;
    position: relative;
    transition: all 0.3s;
    bottom: 35px;
}
#enemigo {
    background-color: rgb(80, 80, 80);
    width: 25px;
    height: 70px;
    position: relative;
    top: 166px;
    left: 749px;
    transition: all 0.3s;
}
#vidaene {
    background: black;
    border: 1px solid white;
    position: relative;
    top: 75px;
    right: 33px;
    width: 100px;
    color: white;
    /* font-size: 20px; */
}
#enemigo2 {
    background-color: darkred;
    width: 25px;
    height: 70px;
    position: relative;
    bottom: 310px; 
    left: 824px;
    transition: all 0.3s;
    /* visibility: hidden; */
}
#vidaene2 {
    background: black;
    border: 1px solid white;
    position: relative;
    top: 75px;
    right: 33px;
    width: 100px;
    color: white;
    z-index: 2; /*  se usa para superponer */
    /* font-size: 20px; */
}
#enemigo3 {
    background-color: rgb(80, 80, 80);
    width: 25px;
    height: 70px;
    position: relative;
    bottom: 36px; 
    left: 970px;
    transition: all 0.3s;
    /* visibility: hidden; */
}
#vidaene3 {
    background: black;
    border: 1px solid white;
    position: relative;
    top: 75px;
    right: 33px;
    width: 100px;
    color: white;
    /* font-size: 20px; */
}
#enemigo4 {
    background-color: rgb(80, 80, 80);
    width: 25px;
    height: 70px;
    position: relative;
    top: -156px;
    left: 515px;
    transition: all 0.3s;
}
#vidaene4 {
    background: black;
    border: 1px solid white;
    position: relative;
    top: 75px;
    right: 33px;
    width: 100px;
    color: white;
    /* font-size: 20px; */
}
#atras {
    /* background-image: url("avanzar.jpg"); */
     /* repeat-x 0px 0px;
    background-size: 1920px 1920px;
    background-position-x: 0px; */
    width: 100px;
    height: 100px;
    position: relative;
    top: 44px;
}
#adelante {
    /* background-image: url("retroceder.jpg"); */
     /* repeat-x 0px 0px;
    background-size: 1920px 1920px;
    background-position-x: 0px; */
    width: 100px;
    height: 100px;
    position: relative;
    left: 260px;
    bottom: 156px;
}
#saltar {
    /* background-image: url("saltar.jpg"); */
     /* repeat-x 0px 0px;
    background-size: 1920px 1920px;
    background-position-x: 0px; */
    width: 100px;
    height: 100px;
    position: relative;
    left: 130px;
    bottom: 56px;

}
#atacar {
    /* background-image: url("atacar.jpg"); */
     /* repeat-x 0px 0px;
    background-size: 1920px 1920px;
    background-position-x: 0px; */
    width: 100px;
    height: 100px;
    position: relative;
    left: 1650px;
    bottom: 356px;

}
#inv {
    background: grey;
    width: 100px;
    height: 100px;
    position: relative;
    left: 390px;
    bottom: 256px;

}
#puerta {
    background-color: red;
    width: 10px;
    height: 80px;
    position: relative;
    top: 272px;
    left: 885px;
}
#armaen {
    border: 2px solid black;
    background: red;
    width: 42px;
    height: 10px;
    position: relative;
    right: 20px;
    bottom: 20px;
    transition: all 0.3s;
}
#iarma {
    position: relative;
    background: grey;
    width: 0px;
    height: 0px;
    bottom: 456px;
    left: 520px;
}
#icasco {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#ipechera {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#ibotas {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#arma1 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#arma2 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#arma3 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#arma4 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 856px;
    left: 1040px;
}
#arma5 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 956px;
    left: 1170px;
}
#arma6 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1056px;
    left: 1300px;
}
#arma7 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1156px;
    left: 1430px;
}
#casco1 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#casco2 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#casco3 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#casco4 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 856px;
    left: 1040px;
}
#casco5 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 956px;
    left: 1170px;
}
#casco6 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1056px;
    left: 1300px;
}
#casco7 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1156px;
    left: 1430px;
}
#pechera1 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#pechera2 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#pechera3 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#pechera4 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 856px;
    left: 1040px;
}
#pechera5 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 956px;
    left: 1170px;
}
#pechera6 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1056px;
    left: 1300px;
}
#pechera7 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1156px;
    left: 1430px;
}
#botas1 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#botas2 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#botas3 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#botas4 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 856px;
    left: 1040px;
}
#botas5 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 956px;
    left: 1170px;
}
#botas6 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1056px;
    left: 1300px;
}
#botas7 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1156px;
    left: 1430px;
}
#arma1danio {
    position: relative;
    color: white;
    background-color: black;
    width: 100px;
    left: 650px;
    bottom: 1308px;
    visibility: hidden;
    font-size: x-large;
}
#arma2danio {
    position: relative;
    color: white;
    background-color: black;
    width: 100px;
    left: 780px;
    bottom: 1359px;
    visibility: hidden;
    font-size: x-large;
}
#pechera1vida {
    position: relative;
    color: white;
    background-color: black;
    width: 100px;
    left: 650px;
    bottom: 1410px;
    visibility: hidden;
    font-size: x-large;
}
#vidita {
    position: relative;
    width: 30px;
    height: 30px;
    top: 50px;
    left: 1340px;
}
#pecherita {
    position: relative;
    width: 25px;
    height: 30px;
    background-color: white;
    border: 2px solid black;
    bottom: 78px;
    left: 1410px;
}
#pechera {
    position: relative;
    width: 25px;
    height: 30px;
    background-color: white;
    border: 2px solid black;
    bottom: -18px;
    right: 2px;
    visibility: hidden;
}