#fondo {
    background: skyblue;
    width: 1750px;
    height: 742px;
}
#suelo {
    background: green;
    width: 1750px;
    height: 144px;
    position: relative;
    top: 576px;
}
#primerpiso {
    background: green;
    width: 600px;
    height: 20px;
    position: relative;
    top: 302px;
    left: 62px;
}
#segundopiso {
    background: green;
    width: 600px;
    height: 20px;
    position: relative;
    top: 152px;
    left: 462px;
}
#tercerpiso {
    background: green;
    width: 600px;
    height: 20px;
    position: relative;
    top: 2px;
    left: 95px;
}
#cuartopiso {
    background: green;
    width: 1170px;
    height: 20px;
    position: relative;
    bottom: 148px;
    left: 580px;
}
#player {
    background: black;
    width: 25px;
    height: 70px;
    position: relative;
    top: 576px;
    left: 100px;
    transition: all 0.3s;
}
#vida {
    position: absolute;
    bottom: 45px;
    width: 200px;
    left: -45px;
    font-size: x-large;
}
#arma {
    top: 35px;
    width: 30px;
    height: 10px;
    background: grey;
    border: 2px solid red;
    position: relative;
    transition: all 0.3s;
}
#enemigo {
    background-color: black;
    width: 25px;
    height: 70px;
    position: relative;
    top: 282px;
    left: 967px;
    transition: all 0.3s;
}
#vidaene {
    top: 50px;
    right: -40px;
    position: absolute;
    font-size: x-large;
    background: black;
    border: 1px solid white;
    color: white;
    width: 100px;
}
#enemigo2 {
    background-color: black;
    width: 25px;
    height: 70px;
    position: relative;
    bottom: 308px; 
    left: 1192px;
    transition: all 0.3s;
}
#vidaene2 {
    top: 50px;
    right: -40px;
    position: absolute;
    font-size: x-large;
    background: black;
    border: 1px solid white;
    color: white;
    width: 100px;
}
#atras {
    background: wheat;
    width: 100px;
    height: 100px;
    position: relative;
    top: 44px;
}
#adelante {
    background: wheat;
    width: 100px;
    height: 100px;
    position: relative;
    left: 260px;
    bottom: 156px;
}
#saltar {
    background: wheat;
    width: 100px;
    height: 100px;
    position: relative;
    left: 130px;
    bottom: 56px;

}
#bajar {
    background: green;
    width: 100px;
    height: 100px;
    position: relative;
    left: 390px;
    bottom: 256px;

}
#atacar {
    background: wheat;
    width: 100px;
    height: 100px;
    position: relative;
    left: 1650px;
    bottom: 356px;

}
#inv {
    background: grey;
    width: 100px;
    height: 100px;
    position: relative;
    left: 390px;
    bottom: 256px;

}
#puerta {
    background-color: red;
    width: 10px;
    height: 80px;
    position: relative;
    top: 142px;
    left: 1745px;
}
#iarma {
    position: relative;
    background: grey;
    width: 0px;
    height: 0px;
    bottom: 456px;
    left: 520px;
}
#icasco {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#ipechera {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#ibotas {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#arma1 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#arma2 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#arma3 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#arma4 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 856px;
    left: 1040px;
}
#arma5 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 956px;
    left: 1170px;
}
#arma6 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1056px;
    left: 1300px;
}
#arma7 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1156px;
    left: 1430px;
}
#casco1 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#casco2 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#casco3 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#casco4 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 856px;
    left: 1040px;
}
#casco5 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 956px;
    left: 1170px;
}
#casco6 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1056px;
    left: 1300px;
}
#casco7 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1156px;
    left: 1430px;
}
#pechera1 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#pechera2 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#pechera3 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#pechera4 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 856px;
    left: 1040px;
}
#pechera5 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 956px;
    left: 1170px;
}
#pechera6 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1056px;
    left: 1300px;
}
#pechera7 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1156px;
    left: 1430px;
}
#botas1 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 556px;
    left: 650px;
}
#botas2 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 656px;
    left: 780px;
}
#botas3 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 756px;
    left: 910px;
}
#botas4 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 856px;
    left: 1040px;
}
#botas5 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 956px;
    left: 1170px;
}
#botas6 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1056px;
    left: 1300px;
}
#botas7 {
    position: relative;
    background: grey;
    width: 0;
    height: 0;
    bottom: 1156px;
    left: 1430px;
}
#arma1danio {
    font-size: x-large;
    position: relative;
    color: white;
    background-color: black;
    width: 100px;
    left: 650px;
    bottom: 1308px;
    visibility: hidden;
}
#cerrarsesion {
    position: relative;
    top: 1000px;
}